<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Captioning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body style="height: 100%;">
    <div class="container" style="height: 100%;">
        <h1 class="page-header text-center">Image Captioning</h1>
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>