{% extends 'base.html' %}
 
{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; height: 90%; ">

    <form action="/upload-file/" enctype="multipart/form-data" method="post">
        <div style="flex-direction: row; display: flex; justify-content: space-around; ">
            <input  class="form-control form-control-lg" name="files" type="file" multiple accept=".jpg, .png">
            
            <select class="form-control form-control-lg" name="method" placeholder="Select method" required>
                <option class="placeholder" selected disabled value="">Select method</option>
                <option value="1">
                    Transformer model
                </option>
                <option value="2">
                    Par Inject Model
                </option>
                <option value="3">
                    Init Inject Model
                </option>
                <option value="4">
                    Bahdanau Attention
                </option>
                <option value="5">
                    Luong Attention
                </option>
                <option value="6">
                    Vit-GPT2 Model
                </option>
            </select>

            <input type="submit" class="btn btn-primary btn-lg">
        </div>
        
    </form>


    {% if image %}
        <div class="d-flex justify-content-center">
            <img width="500" src="{{ url_for('images', path=image) }}">  
        </div>
    {% endif %}  

    {% if caption %}
    <div class="d-flex justify-content-center" style="font-size: 25px;">
        {{caption}}
    </div>
    {% endif %}  
    </div>
</div>    
{% endblock content %}